<div class="profile_side_bar">
  <h2><%= @user.name %></h2>

  <div class="twitter_avatar">
  <%= image_tag @user.image %>
  </div>

  <p><%= link_to 'Join different groups here!', rooms_path%><p>
</div>

<div class="groups">
  <h3> Your Groups </h3>

  <% @user.rooms.each do |room| %>
    <p class= "rooms"><%= link_to "#{room.name}", room_path %></p>
  <% end %>
</div>
